[submodule "libs/Telegram-PHP"]
	path = libs/Telegram-PHP
	url = https://github.com/duhow/Telegram-PHP
[submodule "libs/monolog"]
	path = libs/monolog
	url = https://github.com/Seldaek/monolog.git
[submodule "libs/Propel2"]
	path = libs/Propel2
	url = https://github.com/propelorm/Propel2.git
